<div class="header">
  <div class="sqpContainer">
    <div class="headerContainer">
      <div class="logo-box">
        <img src="./assets/sp_logo.svg" />
      </div>

      <ng-container *ngIf="(identity$ | async) as identity">
        <div class="navigationMenu" *ngIf="false && (menu$ | async) as menu">
          <h4 class="navigationItem" [class.selected]="item.active" *ngFor=" let item of menu" (click)="selectItem(item.state, item.organizationId)">
            {{ item.displayLabel | sqpTranslate:item.displayLabel }}
          </h4>
        </div>

        <p class="welcomeText">
          {{ 'Welcome {firstName}' | sqpTranslate:'WELCOME_FIRSTNAME':identity }}
          <i class="sqp-caret-down dropMenu" (click)="click($event)"></i>
        </p>
        <p class="mobileMenuButton" (click)="menuClick()">
          <i class="sqp-hamburger-menu dropMenu"></i>
          {{ 'Menu' | sqpTranslate:'MENU' }}
        </p>
      </ng-container>

    </div>
  </div>
</div>