@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpColor.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpLayout.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpTypography.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpBreakpoints.scss";

.header {
  background-color: $color1;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing;
    .logo-box {
      height: 50px;
      cursor: pointer;
      img {
        height: inherit;
        width: inherit;
      }
    }
    .mobileMenuButton {
      display: none;
      // @include mobile {
      //   display: inline;
      //   color: $color7;
      //   padding: 5px;
      //   cursor: pointer;
      // }
    }
    .welcomeText {
      // @include mobile {
      //   display: none;
      // }
      text-align: right;
      color: $color7;
      position: relative;
      .dropMenu {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
  .mobileMenu {
    height: 0px;
    opacity: 0;
    transition: height linear 0.25s, opacity ease-out 0.25s;
    &.show {
      opacity: 1;
      height: 200px;
      transition: height linear 0.25s, opacity ease-out 0.25s 0.25s;
    }
  }

  .navigationMenu {
    display: flex;
    @include mobile {
      display: none;
    }
    .navigationItem {
      padding: 0 $spacing;
      color: white;
      opacity: 0.7;
      &.selected {
        opacity: 1;
      }
    }
  }
}
