@font-face {
  font-family: 'SquarePanda';
  src:  url('SquarePanda.eot?mv9e6z');
  src:  url('SquarePanda.eot?mv9e6z#iefix') format('embedded-opentype'),
    url('SquarePanda.ttf?mv9e6z') format('truetype'),
    url('SquarePanda.woff?mv9e6z') format('woff'),
    url('SquarePanda.svg?mv9e6z#SquarePanda') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sqp-"], [class*=" sqp-"] {
  /* use !important to prevent issues with browser extensions that change */
  font-family: 'SquarePanda' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sqp-class-link:before {
  content: "\e900";
}
.sqp-learning-ally:before {
  content: "\e901";
}
.sqp-a-dashed:before {
  content: "\e902";
}
.sqp-ab-down:before {
  content: "\e903";
}
.sqp-add:before {
  content: "\e904";
}
.sqp-box-arrow .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.sqp-box-arrow .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sqp-box-arrow .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sqp-building:before {
  content: "\e908";
}
.sqp-camera:before {
  content: "\e909";
}
.sqp-caret-down:before {
  content: "\e90a";
}
.sqp-caret-left:before {
  content: "\e90b";
}
.sqp-caret-right:before {
  content: "\e90c";
}
.sqp-caret-up:before {
  content: "\e90d";
}
.sqp-carrot:before {
  content: "\e90e";
}
.sqp-chart-donut:before {
  content: "\e90f";
}
.sqp-chat-bubbles:before {
  content: "\e910";
}
.sqp-checkmark:before {
  content: "\e911";
}
.sqp-chevron-down:before {
  content: "\e912";
}
.sqp-chevron-left:before {
  content: "\e913";
}
.sqp-chevron-right:before {
  content: "\e914";
}
.sqp-chevron-up:before {
  content: "\e915";
}
.sqp-children:before {
  content: "\e916";
}
.sqp-clock:before {
  content: "\e917";
}
.sqp-clock2:before {
  content: "\e918";
}
.sqp-close:before {
  content: "\e919";
}
.sqp-create:before {
  content: "\e91a";
}
.sqp-customplay:before {
  content: "\e91b";
}
.sqp-data:before {
  content: "\e91c";
}
.sqp-datepicker:before {
  content: "\e91d";
}
.sqp-delete:before {
  content: "\e91e";
}
.sqp-devices:before {
  content: "\e91f";
}
.sqp-edit:before {
  content: "\e920";
}
.sqp-email:before {
  content: "\e921";
}
.sqp-exclamation-diamond:before {
  content: "\e922";
}
.sqp-flag:before {
  content: "\e923";
}
.sqp-gear:before {
  content: "\e924";
}
.sqp-grid-solid:before {
  content: "\e925";
}
.sqp-group:before {
  content: "\e926";
}
.sqp-groups:before {
  content: "\e927";
}
.sqp-hamburger-menu:before {
  content: "\e928";
}
.sqp-help:before {
  content: "\e929";
}
.sqp-helpDark:before {
  content: "\e92a";
}
.sqp-house:before {
  content: "\e92b";
}
.sqp-image-placeholder:before {
  content: "\e92c";
}
.sqp-info:before {
  content: "\e92d";
}
.sqp-information:before {
  content: "\e92e";
}
.sqp-language:before {
  content: "\e92f";
}
.sqp-lock2:before {
  content: "\e930";
}
.sqp-mask:before {
  content: "\e931";
}
.sqp-multiply:before {
  content: "\e932";
}
.sqp-page-torn:before {
  content: "\e933";
}
.sqp-panda:before {
  content: "\e934";
}
.sqp-password:before {
  content: "\e935";
}
.sqp-pencil:before {
  content: "\e936";
}
.sqp-phone-sound:before {
  content: "\e937";
}
.sqp-pizza:before {
  content: "\e938";
}
.sqp-plus:before {
  content: "\e939";
}
.sqp-rawr-egg:before {
  content: "\e93a";
}
.sqp-rawr:before {
  content: "\e93b";
}
.sqp-remove:before {
  content: "\e93c";
}
.sqp-search:before {
  content: "\e93d";
}
.sqp-spider-chart:before {
  content: "\e93e";
}
.sqp-square-english:before {
  content: "\e93f";
}
.sqp-star:before {
  content: "\e940";
}
.sqp-teaching-resources:before {
  content: "\e941";
}
.sqp-termsofservice:before {
  content: "\e942";
}
.sqp-trash-can:before {
  content: "\e943";
}
.sqp-unlocked:before {
  content: "\e944";
}
.sqp-user-folder:before {
  content: "\e945";
}
.sqp-user:before {
  content: "\e946";
}
.sqp-user2:before {
  content: "\e947";
}
.sqp-users:before {
  content: "\e948";
}
.sqp-view:before {
  content: "\e949";
}
.sqp-wechat-customize:before {
  content: "\e94a";
}
.sqp-wechat-dashboard:before {
  content: "\e94b";
}
.sqp-wechat-logo:before {
  content: "\e94c";
}
.sqp-wechat-store:before {
  content: "\e94d";
}
.sqp-wolverin:before {
  content: "\e94e";
}
