<!-- <sqp-select class="countryCode" *ngIf="(countries$ | async) as countries">
  <select class="sqpSelectBox" formControlName="countryCode">
    <option [value]=""></option>
    <option *ngFor="let code of countries" [value]="code.code">{{ code.callingCode }}</option>
  </select>
</sqp-select> -->
<app-header></app-header>
<button (click)="step1()">Step 1: Register key</button>

<hr />

<form [formGroup]="form">
  <div formGroupName="billing_details">
    <sqp-input label="First Name">
      <input autocomplete="off" class="sqpInputBox" type="text" formControlName="name" />
    </sqp-input>

    <sqp-input label="Email Address">
      <input autocomplete="off" class="sqpInputBox" type="text" formControlName="email" />
    </sqp-input>
  </div>
</form>
<div id="card-element" class="creditCardForm"></div>
<div id="card-errors" role="alert"></div>

<hr />

<div *ngIf="(students$ | async) as students">
  <div (click)="selectItem(student)" class="studentRow" *ngFor="let student of students.students">
    <div class="studentAvatar">
      <sqp-lazy-image [url]="student.avatarLocationKey"></sqp-lazy-image>
    </div>
    studentName: {{ student.fullName }}
    <button (click)="deleteItem(student)">Delete</button>
  </div>
</div>

<hr />

<button (click)="step2(form.value.billing_details)">Step 2: Credit save</button>

<hr />

<ng-container *ngIf="(identity$ | async) as identity">
  <form [formGroup]="studentForm">
    <div>
      First Name: <input formControlName="firstName" />
    </div>

    <div>
      Date of birth: <input formControlName="dateOfBirth" />
    </div>
  </form>
  <button (click)="createStudent(identity.affiliation, studentForm.value)">Create Student</button>
</ng-container>

<sqp-footer [options]="options"></sqp-footer>