@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpTypography.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpLayout.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpForm.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpColor.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpBreakpoints.scss";

hr {
  margin: 40px 0;
}

.creditCardForm {
  border: 1px solid #ccc;
}

.studentRow {
  display: flex;
  padding: 10px;
  align-items: center;
  .studentAvatar {
    height: 60px;
    width: 60px;
  }
}