@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpColor.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpTypography.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpBreakpoints.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpLayout.scss";

.authView {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  height: 100%;
}

.authContainer {
  background-image: url('/assets/login-screen-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  .authBackground {
    min-height: 700px;
    @include mobile {
      display: none;
    }
  }
  .authContent {
    flex: 1;
    padding-bottom: $spacingLg;
    .authFrame {
      background-color: white;
      border-radius: $borderRadius;
      padding: $spacingMd;
      max-width: 355px;
      width: 100%;
      margin: $spacing auto 0;
      @include desktop {
        margin: 100px auto 0;
      }
    }
  }
}
