<div class="authView">
  <app-header></app-header>
  <sqp-notification></sqp-notification>
  <div class="authContainer">
    <div class="authContent">
      <div class="authFrame">
        <router-outlet></router-outlet>
      </div>
    </div>
    <sqp-footer [options]="options"></sqp-footer>
  </div>
</div>