<div class="authLoginView">
  <h1 class="authHeader">{{ 'Welcome Back' | sqpTranslate:'WELCOME_BACK' }}!</h1>
  <form>

  </form>


  <form [formGroup]="form" class="sqpForm" (keyupdown)="submit(form.value)">
    <p>{{ 'Phone Number' | sqpTranslate:'PHONE_NUMBER' }}</p>
    <div class="phoneNumber" formGroupName="phoneNumber">
      <sqp-select class="countryCode" *ngIf="(countries$ | async) as countries">
        <select class="sqpSelectBox" formControlName="countryCode">
          <option [value]=""></option>
          <option *ngFor="let code of countries" [value]="code.code">{{ code.callingCode }}</option>
        </select>
      </sqp-select>

      <sqp-input class="number">
        <input autocomplete="off" class="sqpInputBox" sqpNumeric type="text" formControlName="number" />
      </sqp-input>
    </div>

    <p class="alreadyHave">{{ 'Already have an account' | sqpTranslate:'ALREADY_HAVE_AN_ACCOUNT' }}?
      <span class="textLink" (click)="login()">{{ 'Login' | sqpTranslate:'LOGIN' }}</span></p>

    <div class="">
      <sqp-button type="primary full" [loading]="pressed" (click)="submit(form.value)">
        {{ 'Verify' | sqpTranslate:'VERIFY' }}
      </sqp-button>
    </div>
  </form>

</div>