@font-face {
    font-family: 'AvertaStd-Regular';
    src: url('AvertaStd-Regular.eot?#iefix') format('embedded-opentype'),
         url('AvertaStd-Regular.otf') format('opentype'),
         url('AvertaStd-Regular.woff') format('woff'),
         url('AvertaStd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaStd-Bold';
    src: url('AvertaStd-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaStd-ExtraBold';
    src: url('AvertaStd-ExtraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}