@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpColor.scss";

.authHeader {
  margin: 0 0 $spacingMd;
  text-align: center;
  color: $color1;
}

.userOption {
  margin: $spacingLg 0;
}

.textLink {
  cursor: pointer;
  color: $color9;
}