<div class="authLoginView">
  <h1 class="authHeader">{{ 'Welcome Back' | sqpTranslate:'WELCOME_BACK' }}!</h1>

  <form [formGroup]="form" class="sqpForm" (keyupdown)="submit()">
    <p>{{ 'Phone Number' | sqpTranslate:'PHONE_NUMBER' }}</p>
    <div class="phoneNumber" formGroupName="phoneNumber">
      <sqp-select class="countryCode" *ngIf="(countries$ | async) as countries">
        <select class="sqpSelectBox" formControlName="countryCode">
          <option [value]=""></option>
          <option *ngFor="let code of countries" [value]="code.code">{{ code.callingCode }}</option>
        </select>
      </sqp-select>

      <sqp-input class="number">
        <input autocomplete="off" class="sqpInputBox" sqpNumeric type="text" formControlName="number" />
      </sqp-input>
    </div>

    <sqp-input-password label="{{ 'Password' | sqpTranslate:'PASSWORD' }}" formControlName="password"></sqp-input-password>

    <div class="">
      <sqp-button type="primary full" id="loginButton" [loading]="pressed" (click)="submit()">
        {{ 'Login' | sqpTranslate:'LOGIN' }}
      </sqp-button>
    </div>
  </form>

  <div class="userOption">
    <p></p>
    <form [formGroup]="languageForm">
      <select formControlName="locale" class="subtleSelect">
        <option *ngFor="let language of SQP_LANGUAGES" [value]="language.id">{{ language.displayLabel }}</option>
      </select>
    </form>
  </div>

</div>