@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpColor.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpForm.scss";
@import "./node_modules/panda-web/dist/squarepanda/sqp-ui/_styles/_sqpTypography.scss";
@import "../_styles/auth.scss";

.textLink {
  &:hover {
    text-decoration: underline;
  }
}

.userOption {
  display: flex;
  justify-content: space-between;
  .subtleSelect {
    border: none;
    font-size: 16px;
    background-color: white;
    outline: none;
    color: $color4;
    width: 82px;
  }
}

.buttonBox {
  margin: 25px 0;
}

.centerIcon {
  display: flex;
  align-items: center;
  .sqp-wechat-logo {
    font-size: 32px;
  }
}

.phoneNumber {
  display: flex;
  .countryCode {
    width: 80px;
    margin: 0 $spacing 0 0;
  }
  .number {
    flex: 1;
  }
}
